 
        <div class="win-scrollview">
            <div>List count: {{listdata.length}}, Selected Indexes: {{selection.toString()}}</div>
            <win-list-view id="myList" item-data-source="listdata" selection="selection" on-item-invoked="itemSelected($event)">
                <win-list-view-header>This is a ListView header</win-list-view-header>
                <win-item-template>
                    <!-- Simple template for the ListView instantiation  -->
                        <div class="smallListIconTextItem">
                        
                            <div class="smallListIconTextItem-Detail">
                                <h4 class="win-h4">{{item.data.fname}}</h4>
                                <h6 class="win-h6">{{item.data.lname}}</h6>
                                <span style="font-size:0.75em;">{{item.data.email}}</span>
                            </div>
                        </div>             
                </win-item-template>
                <win-grid-layout maximum-rows-or-columns='4'></win-grid-layout>
                <win-list-view-footer>This is a ListView footer</win-list-view-footer>
            </win-list-view>
        </div>

      <button ng-click="Add()">Add</button><br/>

    <input type="text" ng-model="search" class="search-query" placeholder="Search">
   
 

