<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8" />
    <title>My First Univeral App</title>

    <!-- Styles -->
    <link href="/css/default.css" rel="stylesheet" />
    <link href="WinJS/css/ui-dark.css" rel="stylesheet" />

    <!-- WinJS references -->
    <script src="WinJS/js/base.js"></script>
    <script src="WinJS/js/ui.js"></script>

    <!-- AngularJS references -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-winjs.js"></script>

    <!-- JQuery references -->
    <script src="/js/jquery-2.1.4.min.js"></script>

    <!-- App references -->
    <script src="/js/default.js"></script>
    <script src="/js/Page1.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/options.js"></script>

</head>
<body role="application" class="win-type-body">

    <div ng-controller="splitViewController as svc" id="app">
        <win-split-view-pane-toggle split-view="splitView" ng-click="svc.toggle()"></win-split-view-pane-toggle>
        <win-split-view id="splitView" win-control="splitViewControl">
            <win-split-view-pane>
                <div class="nav-commands">
                    <table>
                        <tr>
                            <td><button class="win-button" id="btnHome" ng-click="svc.gotoHome()">Press Me</button></td>
                        </tr>
                        <tr>
                            <td><button class="win-button" id="btnOptions" ng-click="svc.gotoOptions()">Options</button></td>
                        </tr>
                    </table>

                    <a class="win-link" href="default.html#/fruit">Link me up scotty</a>
                </div>
            </win-split-view-pane>
            <win-split-view-content win-control="splitViewContent">

                <!-- Template placeholder -->
                <div ng-view ></div>

            </win-split-view-content>
        </win-split-view>
    </div>

</body>
</html>
