<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8" />
    <title>My First Univeral App</title>

    <!-- Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="WinJS/css/ui-dark.css" rel="stylesheet" />
    <link href="/css/ng-grid.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" />
   
    <!-- WinJS references -->
    <script src="WinJS/js/base.js"></script>
    <script src="WinJS/js/ui.js"></script>

    <!-- JQuery references -->
    <script src="/js/jquery-2.1.4.min.js"></script>

    <!-- AngularJS references -->
    <script src="js/angular.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/restangular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-winjs.js"></script>
    <script src="js/angular-ng-grid.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="js/socket-io.min.js"></script>
    <script src="js/socket.js"></script>
   

    <!-- App references -->
    <script src="/js/default.js"></script>
    <script src="/js/Page1.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/options.js"></script>
    <script src="/js/grid.js"></script>

</head>
<body role="application" class="win-type-body">

    <div ng-controller="splitViewController as svc" id="app">
        <win-split-view-pane-toggle split-view="splitView" ng-click="svc.toggle()"></win-split-view-pane-toggle>
        <win-split-view id="splitView" win-control="splitViewControl">
            <win-split-view-pane>
                <div class="nav-commands">  
                    <!--see https://msdn.microsoft.com/en-us/library/windows/apps/hh770557.aspx for icon list-->           
                     <win-split-view-command label="'Home'" icon="'videochat'" on-invoked="svc.gotoHome()"></win-split-view-command>
                     <win-split-view-command label="'Options'" icon="'unpin'" on-invoked="svc.gotoOptions()"></win-split-view-command>
                     <win-split-view-command label="'Edit'" icon="'zoom'" on-invoked="svc.gotoGrid()"></win-split-view-command>
                </div>
            </win-split-view-pane>
            <win-split-view-content win-control="splitViewContent" class="win-splitview-content">

                <!-- Template placeholder -->
                <div ng-view style="height:100%"></div>

            </win-split-view-content>
        </win-split-view>
    </div>

    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="detail.html">
        <form name="myForm">
            <div ng-class="{error: myForm.name.$invalid}">
                <label>First Name</label>
                <input class="win-textbox" type="text" name="name" ng-model="user.fname" required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <div ng-class="{error: myForm.site.$invalid}">
                <label>Last Name</label>
                <input class="win-textbox" type="text" name="lastname" ng-model="user.lname" required>
                <span ng-show="myForm.lastname.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <div ng-class="{error: myForm.site.$invalid}">
                <label>Email</label>
                <input class="win-textbox" type="text" name="email" ng-model="user.email" required>
                <span ng-show="myForm.email.$error.required" class="help-inline">
                    Required
                </span>
            </div>

            <br>
            <a href="#/" class="win-button">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                    class="win-button">
                Save
            </button>
            <button ng-click="destroy()"
                    ng-show="user._id" class="win-button">
                Delete
            </button>
        </form>
    </script>

</body>
</html>
